<div class="bandeau bloc-communaute row">
	<h3 class="titre">Actus de la communauté</h3>
</div>
<div class="infos-communaute hot row">
	<div class="bloc-journal col-lg-6">
	    {% render(controller("TDNCoreBundle:Journal:filJournal", {'limite': 5})) %}

	</div>
	<div class="bloc-nanas col-lg-6">
	    {% render(controller("TDNNanaBundle:Partiels:showSelectionNanas", {'limite': 10})) %}
		<div class="col-lg-3"></div>
		<div class="col-lg-9"></div>
	</div>
</div>