<div class="col-lg-4">
	<a href="{{ path('Core_home') }}"><img class="sprite logoTdn" src="{{ asset('assets/img/1x1.png')}}" alt="Le logo" title="Trucs De Nana" /></a>
</div>
<div class="header-pub col-lg-8">
{% include 'TDNAdvertiseBundle:Aufeminin:leaderboard.html.twig' %}
</div>
