<div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
	<a href="{{ path('Core_home') }}" class="logo-TDN">
		<img src="{{ asset('assets/img/1x1.png')}}" alt="Le logo" title="Trucs De Nana" />
	</a>
</div>
<div class="header-pub col-lg-8 col-md-9 hidden-sm hidden-xs">
{% include 'TDNAdvertiseBundle:Aufeminin:leaderboard.html.twig' %}
</div>
