<nav id="contenusNavigation">
	<ul class="menuContenus">
		<li class="itemContenu"><a href="" class="lienContenu lienArticles">Articles</a></li>
		<li class="itemContenu"><a href="" class="lienContenu lienConseils">Conseils d'experts</a></li>
		<li class="itemContenu"><a href="" class="lienContenu lienQuestions">Questions de nanas</a></li>
		<li class="itemContenu"><a href="" class="lienContenu lienVideos">Vidéos</a></li>
		<li class="itemContenu"><a href="" class="lienContenu lienDossiers">Dossiers</a></li>
		<li class="itemContenu"><a href="" class="lienContenu lienConcours">Jeux-concours</a></li>
		<li class="itemContenu"><a href="" class="lienContenu lienQuiz">Quiz</a></li>
	</ul>
</nav>