<div class="droits col-lg-4">
	<p>&copy; TRUCDENANA 2008-2012 &ndash; Tous droits réservés</p>
	<img class="solide" src="http://www.trucsdenana.com{{ asset('assets/images/theme/footer/logo_aufeminin.png') }}" />
	<p>Ce e-zine est commercialisé par aufeminin.com</p>
</div>
<div class="colonne-footer col-lg-2">
	<h4>Communautés</h4>
	<ul>
		<li>
			<a href="http://www.facebook.com/trucdenana">Facebook</a>
		</li>
		<li>
			<a href="https://twitter.com/TrucdeNana">Twitter</a>
		</li>
		<li>
			<a href="http://instagram.com/justine_trucsdenana">Instagram (Justine)</a>
		</li>
		<li>
			<a href="http://www.hellocoton.fr/mapage/trucdenana">Hellocoton</a>
		</li>
	</ul>
</div>
<div class="colonne-footer col-lg-2">
	<h4>Site TDN</h4>
	<ul>
		<li><a href="{#{ path('Document_equipeTDN') }#}">Qui sommes-nous ?</a></li>
		<li><a href="{#{ path('Document_mentionsLegales') }#}">Mentions légales</a></li>
		<li>Mobile (à venir)</li>
		<li><a href="{#{ path('Core_contact') }#}">Vos suggestions</a></li>
	</ul>
</div>
<div class="colonne-footer col-lg-2">
	<h4>Partenaires</h4>
	<ul>
		<li>
			<a target="_blank" href="http://blueberryhome.fr">Blueberryhome, un super blog déco</a>
		</li>
		<li>
			<a target="_blank" href="http://www.dlabshop.com/">D-Lab, Nutricosmétique Professionnelle</a>
		</li>
		<li>
			<a target="_blank" href="http://www.hairbox.fr/">Hairbox, conseils coiffure et relooking</a>
		</li>
		<li>
			<a target="_blank" href="http://www.ds-relooking.com/">DS Relooking, conseil en image</a>
		</li>
		<li>
			<a target="_blank" href="http://www.planet-fitness.fr/">Planet-Fitness, vêtements fitness et accessoires</a>
		</li>
		<li>
			<a target="_blank" href="http://www.fitness.fr/">Toute l'actualité fitness</a>
		</li>
		<li>
			<a target="_blank" href="http://Lucilewoodward.com/">Le meilleur blog forme</a>
		</li>
		<li>
			<a target="_blank" href="http://cinemilie.blogspot.com/">Toute l'actu ciné</a>
		</li>
		<li>
			<a target="_blank" href="http://www.best-of-voyance.com">Astrologie, voyance et Astro Love</a>
		</li>
	</ul>
</div>
<div class="colonne-footer col-lg-2">
	<h4>Flux</h4>
	<ul>
		<li>
			<a href="http://www.trucsdenana.com/articles/feed.rss" class="RSSMark">Flux RSS des articles</a>
		</li>
		<li>
			<a href="http://www.trucsdenana.com/conseils-experts/feed.rss" class="RSSMark">Flux RSS des conseils</a>
		</li>
	</ul>
</div>
